---
layout: base

isSharkTourPage: true

pageTitle: "Dive Cage-Free with World-Class Shark Handlers"

ogTitle: "Dive Cage-Free with World-Class Shark Handlers"

pageDescription: "Experience maximum immersion and interaction. Cage-free shark dives lead by World-class, expert shark
handlers. Safe and family friendly! Ages: 5+."

pageURL: "https://hawaiiadventurediving.com/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"

ogImage: "https://hawaiiadventurediving.com/images/hawaii-adventure-diving-danny-shark-dive-oahu-1200x637.jpg"
---

<body class="has-topbar shark-tour-page tour-page bg-white">

    {% include "nav.njk" %}

    {% set thisPage = "sharks" %}

    <div class="content-wrap">

        
        <!-- Main Hero Video Banner -->
        <section id="hero-banner" class="hero-video-banner hero-banner dark-bg">
            <div class="container-fluid gx-0">
                <div class="video-overlay-color"></div>


                {% include "shark-video-banner.njk" %}


                <div class="banner-contents" data-show="startbox">
                    <div id="hero-text" class="col-lg-8 offset-lg-2">
                        <div class="banner-logo desktop-only">
                            <img src="/images/header-logo-400px.png" alt="Hawaii Adventure Diving">
                        </div>
                        <h1><span class="eyebrow no-break">Cage Free</span><br>Shark Diving</h1>
                        <h2>Small groups. Closer shark encounters. <span class="no-break">World-class guides.</span>
                        </h2>
                    </div>
                    <div id="cta-block" class="col-lg-8 offset-lg-2">
                        <h3>From $150 per person</h3>
                        <a class="btn btn-md btn-accent-1"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"><span>Go
                                Shark Diving</span></a>
                        {% include "blocks/star-ratings.njk" %}
                        {% include "blocks/mini-testimonials-ticker.njk" %}
                    </div>
                </div>
            </div>
        </section>

        {% include "sections/as-seen-on.njk" %}

        {% include "sections/ratings-and-reviews-section-r2.njk" %}

        {% include "sections/tour-quick-guide.njk" %}

        {% include "sections/tour-schedule-r2.njk" %}

        {% include "sections/rates-and-details-shark-tour-r2.njk" %}

        <!-- SHARK TOUR GALLERY -->
        <div id="shark-tour-photo-gallery"></div>
        {% include "sections/tour-photos-section-v2.njk" %}

        {% include "sections/shark-faq-v2.njk" %}

        {% include "sections/team-section.njk" %}

        <section id="an-exclusive-experience" class="pano-section text-left white-text">
            <div class="container-fluid gx-0">
                <div class="pano-bgd"></div>
                <div class="section-content">
                    <div class="text-box">
                        <h1 class="h1-small-leader-text">Haleiwa <span class="no-break">Shark Tours</span></h1>
                        <h2>An Exclusive Tour Experience</h2>
                        <p>Our tours host 6 guests or less ensuring unparalleled safety and a personalized experiences.</p>
                    </div>
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/private-tours-img-mobile.jpeg" />
                        <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                        <img class="hero-img mobile" src="/images/blank.gif">
                    </picture>
                </div>
            </div>
        </section>

        <section id="snorkel-gear" class="pano-section text-left">
            <div class="container-fluid gx-0 bg-white">
                <div class="pano-bgd"></div>
                <div class="section-content">
                    <div class="text-box">
                        <h1 class="h1-small-leader-text" style="color: #000;">Shark Dive The North <span
                                class="no-break">Shore, Oahu</span></h1>
                        <h2 class="blue-text">Snorkel Gear Rentals Included</h2>
                        <p>We've got you covered with snorkels, masks, and fins included with every tour.</p>
                        <p class="disclaimer mobile">*Gear shown below for illustration purposes only.</p>
                        <p class="disclaimer desktop">* Snorkel gear photo is for illustration purposes only. Actual
                            snorkel gear may be different than what is shown here.</p>
                    </div>
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/snorkel-gear-img-mobile.jpeg" />
                        <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                        <img class="hero-img mobile" src="/images/blank.gif">
                    </picture>
                </div>
            </div>
        </section>

        <section id="get-the-shot" class="pano-section get-the-shot-v2 white-text text-left">
            <div class="container-fluid gx-0">
                <div class="pano-bgd"></div>
                <div class="section-content">
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/get-the-shot-img-mobile.jpeg" />
                        <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                        <img class="hero-img mobile" src="/images/blank.gif">
                    </picture>
                    <div class="text-box">
                        <h1 class="h1-small-leader-text">Shark Diving Photos</h1>
                        <h2>Get the Shot!</h2>
                        <p>Come home with photos that elevate your Hawaii vacation from unforgettable <span class="no-break">to <strong><em>unbelievable</em></strong>.</span></p>
                        <p class="credit">Photo: © Sammy Falgiani</p>
                    </div>
                </div>
            </div>
        </section>

        <!--
        <section class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">

                    </div>
                </div>
            </div>
        </section>
        -->

    </div>
    <!--// Content Wrap -->

    {% set btn = '<a class="btn btn-accent-1 big-button"
        href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/">View Dates</a>' %}
    {% include "sections/big-CTA-pre-footer-v2.njk" %}

    <!-- footer.php include -->
    {% include "footer.njk" %}

</body>