---
layout: base

pageTitle: "Meet The Crew | Hawaii Adventure Diving"

pageDescription: "About the Hawaii Adventure Diving team. Our highly-skilled crew delivers offers unparalleled shark diving tours where safety, education, and an unforgettable journey are our hallmarks."

ogTitle: "Meet The Crew | Hawaii Adventure Diving"

pageURL: "https://hawaiiadventurediving.com/about-us/"
ogImage: ""
---

<body class=" has-topbar">
    <!-- nav.php include -->
    {% include "nav.njk" %}

    <!-- Main Content-->
    <div class="content-wrap main-content inner-page bg-lightrays">
        <div class="container">

            <div class="row page-head-logo desktop-only">
                <a href="/"><img src="/images/header-logo-400px.png" alt="Hawaii Adventure Diving"></a>
            </div>

            <div class="row pb-40 text-center">
                <div class="col-12" data-show="startbox" data-show-delay="100">
                    <a href="/"><img src="/images/page-title-meet-the-crew.png" alt="Meet The Crew" class="page-title-img"></a>
                </div>
                <div class="col-lg-8 offset-lg-2" data-show="startbox" data-show-delay="200">
                    <h1 class="h1-page-subtitle">The Hawaii Adventure Diving Shark Tour Team</h1>
                </div>
                <div class="col-lg-10 offset-lg-1" data-show="startbox" data-show-delay="200">
                    <p>Each of our professionally trained and experienced crew are masters at what they do, often possessing a lifetime of dedicated time in the ocean. They seamlessly integrate safety, education, respect, and exhilarating enjoyment into every tour, ensuring that each dive transcends the ordinary, becoming a transformative and unforgettable journey.</p>
                </div>
            </div>

            <div class="row listable-content-card gx-0" data-show="startbox" data-show-delay="300">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/stacylieser/?hl=en"><span>@Stacylieser</span></a>
                        <img src="/images/stacy-hawaii-adventure-diving.jpg" alt="Photo of Hawaii Adventure Diving boat captain, Stacy Lieser snorkeling next to a large tiger shark." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Stacy Lieser</h2>
                    <h3>Safety diver and Captain</h3>
                    <p>Stacy moved from Minnesota to the North Shore of Oahu in 2005. She earned her PADI divemaster certification and also received her bachelors degree in Communications at the University of Hawaii at Manoa. After years of working as a divemaster in 2017, Stacy got her Captains license with the USCG. </p>
                    <p>Marine Conservation is something that has always played an important role in her lifestyle. She enjoys being able to educate on shark conservation and the importance to our eco system, all while changing the perception of sharks. </p>
                    <p>Stacy has worked with Hawaii Adventure Diving since 2015, the unique small atmosphere with guests and her fellow crew members has kept her motivated to continue to grow as a diver and captain. She is always looking forward to the next adventure. </p>
                </div>
            </div>

            <div class="row listable-content-card gx-0" data-show="startbox">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/lifeofasharkdiver/?hl=en"><span>@Lifeofasharkdiver</span></a>
                        <img src="/images/nick-hawaii-adventure-diving.jpg" alt="Photo of Hawaii Adventure Diving safety diver Nick Lowenstine pressing his hand over the nose of a large tiger shark with another diver in the background taking an underwater photo." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Nick Loewenstine</h2>
                    <h3>Safety Diver</h3>
                    <p>For as long as he can remember Nick has had a deep passion for sharks and everything wild. He has been diving since the age of 14 where he completed his first shark dive in the Caribbean at the world famous Stuarts cove.</p>
                    <p>Since then Nick has been around the world diving with a multitude of shark species having now interacted with 28 different species. Nick also shares a passion for other large predators where he has experience interacting and photographing life such as giant Green Anaconda, Crocodiles and Big Cats.</p>
                    <p>Nick currently holds credentials as a Dive instructor and Emergency first response instructor. </p>
                </div>
            </div>

            <div class="row listable-content-card gx-0" data-show="startbox">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/nani.moana/?hl=en"><span>@nani.moana</span></a>
                        <img src="/images/annika-hawaii-adventure-diving.jpg" alt="Photo of Hawaii Adventure Diving safety diver Annika Zerne Young in the ocean petting the nose of a tiger shark while holding a GoPro." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Annika Zerne Young</h2>
                    <h3>Safety Diver</h3>
                    <p>Annika has done her undergraduate studies in marine biology at the University of Hawai'i at Mānoa. She is a certified PADI Divemaster and has been diving and working with sharks on the North Shore of O'ahu since 2016. Annika has a deep respect for the ocean and sharks, and she emphasizes safety, of both divers and sharks, above all else. She is always excited to share a fun ocean adventure with divers, while also providing them with information on shark biology and behavior, as well as the ecological importance of sharks. </p>
                    <p>One of Annika's greatest passions is marine conservation. She has lectured to several thousand elementary through high school students around the Western United States about shark conservation. Annika's other interests include traveling, art, photography, scuba and free diving, open ocean swimming, paddling, hiking, running, and skiing. She is an all around animal enthusiast, and her favorite animals include great white and tiger sharks, manta rays, and her rescue cats. She hopes to continue exploring the ocean and helping give back to it and to the marine animals she loves in anyway she can. </p>
                </div>
            </div>

            <div class="row listable-content-card gx-0" data-show="startbox">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/snappysammyphotos/?hl=en"><span>@Snappysammyphotos</span></a>
                        <img src="/images/sammy-hawaii-adventure-diving.jpg" alt="Photo of Hawaii Adventure Diving safety diver and photographer Sammy taking a picture of a shark with a professional underwater camera system." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Sammy Falgiani</h2>
                    <h3>Photographer &amp; Safety Diver</h3>
                    <p>Sammy came to free diving and shark diving in the process of becoming a better cinematographer and photographer. Through that process, she became obsessed with sharks. She also obtained her PADI Divemaster and FII Freediver certifications. </p>
                    <p>She says, "It is equally amazing to share the water with sharks and just observe them as it is to film them. Watching the subtleties of shark behavior is the most interesting topic of shark research to me. I strive to be a good source of shark information." </p>
                    <p>Prior to spending all of her time shark diving, she completed her Bachelor of Science in biomedical photography at the Rochester Institute of Technology in New York. She's worked in ophthalmic angiography, professional technical photography, as well as a diverse assortment of freelance photo and video production positions.</p>
                </div>
            </div>

            <a id="sava" href="#"></a>
            <div class="row listable-content-card gx-0" data-show="startbox">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/sava.bien.hawaii/?hl=en"><span>@Sava.Bien.Hawaii</span></a>
                        <img src="/images/sava-hawaii-adventure-diving.webp" alt="Photo of Hawaii Adventure Diving captain and safety diver Sava under water swimming upright directly infront of a very large great white shark staring directly eye to eye, about two feet away from each other." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Sava Mankovskiy</h2>
                    <h3>Captain &amp; Safety Diver</h3>
                    <p>Sava has been diving for the past 15 years and continues to be obsessed with the underwater world. He is a freediver, scuba divemaster/instructor, boat captain and sailor. He loves the depth, the wildlife, diving on old sunken ships and the art of being like water.</p>
                    <p>The ocean has his heart now, and will forever…He is incredibly proud to be part of the team at Hawaii Adventure Dive, and to continue to learn from the ocean every day that he is alive!</p>
                </div>
            </div>

            <div class="row listable-content-card gx-0" data-show="startbox">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/danny_mako/?hl=en"><span>@Danny_mako</span></a>
                        <img src="/images/danny-hawaii-adventure-diving-2.webp" alt="Photo of Hawaii Adventure Diving photographer and safety diver Danny Mako snorkeling underwater with a swirling swarm of menacing looking sharks." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Danny Mako</h2>
                    <h3>Photographer &amp; Safety Diver</h3>
                    <p>Danny is a photographer located on the island of Oahu, Hawaii. His passion drove him into underwater wildlife photography and now he works with brands and individuals to interact and photograph unique experiences with wildlife, specifically sharks. He is a Biologist/Marine Scientist with a Bachelor of Science from the University of Tampa, as well as a PADI Divemaster, surfer, swimmer, and overall waterman.</p>
                </div>
            </div>

            <div class="row listable-content-card gx-0" data-show="startbox">
                <div class="col-lg-5">
                    <div class="img-wrapper">
                        <a class="insta-link" target="_blank" href="https://www.instagram.com/rowouldgo/?hl=en"><span>@Rowouldgo</span></a>
                        <img src="/images/ro-hawaii-adventure-diving.webp" alt="Headshot of Hawaii Adventure Diving captain Ro O\'Rourke looking toward the camera on the Hawaii Adventure Diving Boat getting ready for a tour." loading="lazy">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-30">
                    <h2>Ro O'Rourke</h2>
                    <h3>Captain</h3>
                    <p>A Chicago native, it was Ro's passion and reverence for the ocean that brought him to Oahu's north shore over 15 years ago and eventually to our crew as our fearless captain. While many of his pursuits as a waterman began near the surface such as fishing, paddling, towing and big wave surfing, it was what lies just below the waves that eventually captured his imagination.</p>
                    <p>He is a keen student of life and on top of his first responder and B.R.A.W.G. certifications he has quickly picked up skills as a shark and free diver as well as photographer; capturing the unforgettable moments were able to share with each other.</p>
                </div>
            </div>

            {% include "prefooter-CTA.njk" %}

        </div>
        <!--// Container -->

    </div>



    <!-- footer.php include -->
    {% include "footer.njk" %}
</body>