---
layout: base

pageTitle: "Cage Free Shark Diving and Whale Watching Tours - Oahu"

ogTitle: "Hawaii Adventure Diving - Cage Free Shark Diving and Whale Watching Tours - Oahu, Hawaii"

pageDescription: "Welcome to Hawaii Adventure Diving, your premier destination for unforgettable diving experiences in
Hawaii."

pageURL: "https://hawaiiadventurediving.com/"

ogImage: "https://hawaiiadventurediving.com/images/hawaii-adventure-diving-danny-shark-dive-oahu-1200x637.jpg"
---

<body class="has-topbar homepage">

    {% include "nav.njk" %}

    {% include "elements/fixed-booking-btn.njk" %}
    <!-- Main Content-->
    <div class="content-wrap bg-dark-blue main-content-home">

        <!-- Main Hero Video Banner -->
        <section class="hero-video-banner hero-banner">
            <div class="container-fluid gx-0">
                <div class="video-overlay-color"></div>


                {% include "shark-video-banner.njk" %}


                <div class="banner-contents" data-show="startbox">
                    <div id="hero-text" class="col-lg-8 offset-lg-2">
                        <div class="banner-logo desktop-only">
                            <img src="/images/header-logo-400px.png" alt="Hawaii Adventure Diving">
                        </div>
                        <h1><span class="eyebrow no-break">Cage Free</span><br>Shark Diving</h1>
                        <h2>Small groups. Closer shark encounters. <span class="no-break">World-class guides.</span>
                        </h2>
                    </div>
                    <div id="cta-block" class="col-lg-8 offset-lg-2">
                        <h3>From $150 per person</h3>
                        <a class="btn btn-md btn-accent-1"
                            href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><span>Tour
                                Details</span></a>
                        {% include "blocks/star-ratings.njk" %}
                        {% include "blocks/mini-testimonials-ticker.njk" %}
                    </div>
                </div>
            </div>
        </section>
        <!--// Main Hero Video Banner -->

        {% include "sections/as-seen-on.njk" %}

        {% include "sections/ratings-and-reviews-section.njk" %}

        {% include "sections/tour-features-section.njk" %}

        {% include "sections/tour-photos-section.njk" %}

        <!-- Call to action-->
        <section class="CTA-section">
            <div class="position-relative">
                <div class="container position-absolute top-50 start-0 end-0"
                    data-prev-id=".footerPrev" data-next-id=".footerNext">
                    <div class="shape-parent">
                        <div class="pt-120 pb-130 px-30 position-relative rounded-4 overflow-hidden z-index-1">
                            <div class="background">
                                <div class="background-image jarallax" data-jarallax data-speed="0.8"><img
                                        class="jarallax-img" loading="lazy"
                                        src="assets/img/root/call-to-action-1920x1080.jpg" alt=""></div>
                                <div class="background-color" style="--background-color: #064175; opacity: .9;"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2 text-center">
                                    <img class="mb-50 logo w-sm-100" src="/images/header-logo-400px.png"
                                        alt="Hawaii Adventure Diving">
                                    <h2 class="mb-25 text-white"><a
                                            href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"
                                            class="link-plain">Book <span class="hand-underline-yellow">Your</span>
                                            Adventure Today.</a></h2>
                                    <div>
                                        <!-- Button--><a class="btn btn-accent-1 big-button"
                                            href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/">Tour Info<span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--// Call to action -->

    </div>
    <!--// Main Content -->

    <!-- footer.php include -->
    {% include "footer.njk" %}


    <!-- Schema Stuff -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@graph": [{
                "@type": "WebPage",
                "@id": "https://hawaiiadventurediving.com/",
                "url": "https://hawaiiadventurediving.com/",
                "name": "Hawaii Adventure Diving - Cage Free Shark Diving Tours",
                "isPartOf": {
                    "@id": "https://hawaiiadventurediving.com/#website"
                },
                "about": {
                    "@id": "https://hawaiiadventurediving.com/#organization"
                },
                "primaryImageOfPage": {
                    "@id": "https://hawaiiadventurediving.com/#primaryimage"
                },
                "image": {
                    "@id": "https://hawaiiadventurediving.com/#primaryimage"
                },
                "thumbnailUrl": "https://hawaiiadventurediving.com/images/hawaii-adventure-diving-danny-shark-dive-oahu.jpg",
                "datePublished": "2023-11-01T07:46:10+00:00",
                "dateModified": "2023-11-01T07:46:10+00:00",
                "description": "Shark Dive Oahu - Looking for the Best Hawaii Shark Tour? We offer the top Hawaii Shark Tour throughout the Hawaiian Islands!",
                "breadcrumb": {
                    "@id": "https://hawaiiadventurediving.com/#breadcrumb"
                },
                "inLanguage": "en-US",
                "potentialAction": [{
                    "@type": "ReadAction",
                    "target": ["https://hawaiiadventurediving.com/"]
                }]
            }, {
                "@type": "ImageObject",
                "inLanguage": "en-US",
                "@id": "https://hawaiiadventurediving.com/#primaryimage",
                "url": "https://hawaiiadventurediving.com/images/hawaii-adventure-diving-danny-shark-dive-oahu.jpg",
                "contentUrl": "https://hawaiiadventurediving.com/images/hawaii-adventure-diving-danny-shark-dive-oahu.jpg",
                "width": 600,
                "height": 400,
                "caption": "Hawaii Adventure Diving"
            }, {
                "@type": "BreadcrumbList",
                "@id": "https://hawaiiadventurediving.com/#breadcrumb",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home"
                }]
            }, {
                "@type": "WebSite",
                "@id": "https://hawaiiadventurediving.com/#website",
                "url": "https://hawaiiadventurediving.com/",
                "name": "Hawaii Adventure Diving",
                "description": "Discover the Best Shark Tours Oahu, HI has to offer!",
                "publisher": {
                    "@id": "https://hawaiiadventurediving.com/#organization"
                },
                "inLanguage": "en-US"
            }, {
                "@type": "Organization",
                "@id": "https://hawaiiadventurediving.com/#organization",
                "name": "Hawaii Adventure Diving",
                "url": "https://hawaiiadventurediving.com",
                "logo": {
                    "@type": "ImageObject",
                    "inLanguage": "en-US",
                    "@id": "https://hawaiiadventurediving.com/#/schema/logo/image/",
                    "url": "https://hawaiiadventurediving.com/logo.jpg",
                    "contentUrl": "https://hawaiiadventurediving.com/logo.jpg",
                    "width": 600,
                    "height": 600,
                    "caption": "Hawaii Adventure Diving"
                },
                "image": {
                    "@id": "https://hawaiiadventurediving.com/#/schema/logo/image/"
                }
            }]
        }
    </script>
    <!--// Schema Stuff -->

</body>