<section id="be-inspired" class="pano-section white-text text-left">
            <div class="container-fluid gx-0">
                <div class="pano-bgd"></div>
                <div class="section-content">
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/be-inspired-img-mobile.jpeg" />
                        <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                        <img class="hero-img mobile" src="/images/blank.gif">
                    </picture>
                    <div class="text-box">
                        <h1 class="h1-small-leader-text">Swim With Sharks <span class="no-break">In Hawaii</span></h1>
                        <h2>Be inspired.</h2>
                        <p>You'll feel what it's like to be with sharks—<em>up close and personal.</em> You'll instantly
                            understand how magnificent these creatures are and how there's nothing like swiming next to
                            them without a cage.</p>
                        <p class="credit">Photo: © Sammy Falgiani</p>
                    </div>
                </div>
            </div>
        </section>