<section id="dive-with-the-best" class="impact-text-banner blue-text">
  <div class="container">
    <h1> Dive With The Best.</h1>
    <h2>Hawaii Adventure Diving</h2>
    <p>When you dive with Hawaii Adventure Diving, you're diving with the best in <span class="no-break">the business.</span></p>
  </div>
</section>