<section id="dive-with-the-best" class="impact-text-banner blue-text">
  <div class="container">
    <h1> Dive With The Best.</h1>
    <h2 data-show="startbox" data-show-delay="100">Hawaii Adventure Diving</h2>
    <p class="kicker" data-show="startbox" data-show-delay="200">When you dive with Hawaii Adventure Diving, you're diving with the best in <span class="no-break">the business.</span></p>
  </div>
</section>
<div class="section-bottom-yellow-flare mobile"><img class="flare" src="/images/section-cap-yellow-flare.png"></div>