<!-- OAHU SHARK DIVING TOUR GALLERY -->
<section id="photo-grid-gallery" class="bg-white pt-60">

    <!-- Photo Grid Gallery -->
    <div class="container light-background">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 px-20 text-center-md">
                <!--<img class="mb-50 logo" src="/images/header-logo-400px.png" alt="Hawaii Adventure Diving">-->
                <h1 class="h1-small mb-0"  data-show-delay="0">Cage Free <span class="no-break">Shark Diving</span></h1>
                <h2 class="h2-big blue-text">Get Professional Photos for Your Next Tour</h2>
                <p class="mb-0">Photos from our shark diving tours captured by our professional underwater photographers.</p>
            </div>
        </div>
    </div>
    <div class="container g-0">
        <div class="row g-0">
            
            <!-- Lightbox Gallery -->
            <div class="col-12 gallery-col">
                <div class="gallery-wrapper">
                </div>
                <!--// gallery-wrapper-->
            </div>

        </div>
        <!--// row -->
        
    </div>
    <script type="text/javascript">
        // Gallery Items script for lightbox gallery
        const galleryItems = [
            
            'shark-divers-chasing',
            'pink-shark-diver',
            'beautiful-woman-free-diving-with-sharks-hawaii-shark-tour',
            'couple-swimming-with-sharks-without-cage-hawaii-oahu',
            'female-diver-with-shark-striped-2',
            'female-diver-with-shark-striped',
            'snorkeler-on-rope-with-shark',
            'fun-hawaii-shark-diving',
            'shark-diving-hawaii-2',
            'beautiful-shark-diver-hawaii',
            'couple-shark-diving-hawaii',
            'diver-posing-with-shark',
            'divers-and-shark-hawaii',
            'divers-swimming-with-a-shark',
            'diving-down-with-shark-hawaii',
            'hawaii-shark-diving-tour-photo',
            'morning-sun-shark-dive',
            'shark-dive-morning-sun',
            'shark-diving-hawaii-camera',
            'snorkeler-and-3-sharks',
            'swimming-after-shark-hawaii',
            'swimming-with-a-shark',
            'swimming-with-shark-in-hawaii',
            'two-divers-and-shark-hawaii',
        ];

        function buildGallery() {
            const galleryWrapper = document.querySelector('.gallery-wrapper');
            galleryItems.forEach(item => {
                const galleryItem = document.createElement('a');
                galleryItem.classList.add('gallery-item');
                galleryItem.href = `/images/lightbox-galleries/shark-tour-lp-photos-section/${item}.jpg`;

                const img = document.createElement('img');
                img.src = `/images/lightbox-galleries/shark-tour-lp-photos-section/thumbs/tn_${item}.jpg`;
                img.alt = `Shark diving photo: ${item.replace(/-/g, ' ').replace(/\.[^/.]+$/, '')}`;

                galleryItem.appendChild(img);
                galleryWrapper.appendChild(galleryItem);
            });
        }
        document.addEventListener('DOMContentLoaded', buildGallery);
    </script>

</section>
<!--// OAHU SHARK DIVING TOUR GALLERY -->