<section id="jarallax-banner">
    <div class="container">
        <div class="row">
            <div class="position-relative stretch-column to-left py-240">
                <div class="background">
                    <div class="background-image jarallax" data-jarallax data-speed="0.8">
                        <img class="jarallax-img" loading="lazy" src="/images/woman-snorkeling-with-sharks-oahu-hawaii.jpg" alt="">
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>