<section id="jarallax-logo-banner" class="logo-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="position-relative logo-wrapper stretch-column to-left py-100 px-40">
                <img class="w-100 logo" src="/images/hawaii-adventure-diving-logo-on-white_1000px.png"> 
                <div class="background">
                    <div class="background-image jarallax" data-jarallax data-speed="0.8">
                        <img class="jarallax-img" loading="lazy" src="/images/woman-snorkeling-with-sharks-oahu-hawaii.jpg" alt="">
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>