<section id="more-immersive-section">
    <div class="container impact-text-banner blue-text">

        <div class="row">
            <div class="col-12">
                <h1 data-show="startbox">More Immersive.</h1>
                <h1 class="mt-10" data-show="startbox" data-show-delay="300">More Interactive.</h1>
                <h1 class="mt-10" data-show="startbox" data-show-delay="600">More Epic.</h1>
                <h2 data-show="startbox" data-show-delay="100">Hawaii Adventure Diving</h2>
                <p class="kicker mt-30" data-show="startbox" data-show-delay="900">Discover the ultimate shark <span class="no-break">diving adventure.</span></p>
            </div>
            
            <div class="col-12 text-center mt-20 section-cta">
                <a  class="btn btn-md btn-accent-1"
                    data-show="startbox" data-show-delay="1200"
                    href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/">
                    <span>Tour Dates</span>
                </a>
            </div>

        </div>        
    </div>
</section>