<section id="more-immersive-section">
    <div class="container impact-text-banner blue-text">

        <div class="row">
            <h1 data-show="startbox">More Immersive.</h1>
            <h1 class="mt-10" data-show="startbox" data-show-delay="300">More Interactive.</h1>
            <h1 class="mt-10" data-show="startbox" data-show-delay="600">More Epic.</h1>
            <p class="kicker mt-30" data-show="startbox" data-show-delay="900">Our divers are certified safety professionals and expert shark divers who are passionate about providing experiences that you simply can't get anywhere else.</p>
        </div>        
    </div>
</section>