<section id="no-limits" class="pano-section white-text text-left">
            <div class="container-fluid gx-0">
                <div class="pano-bgd"></div>
                <div class="section-content">
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/no-limits-img-mobile.jpeg" />
                        <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                        <img class="hero-img mobile" src="/images/blank.gif">
                    </picture>

                    <div class="text-box">
                        <h1 class="h1-small-leader-text">Hawaii Shark Diving <br class="mobile">Unleashed</h1>
                        <h2>No Cage. <br class="mobile">No Limits.</h2>
                        <p>You'll be amazed at how quickly and naturally you become absorbed by the calm, quiet deep
                            blue water—hypnotized by the stunning beauty of these amazing creatures and how they move in
                            their natural environment.</p>
                        <p class="credit">Photo: © Sammy Falgiani</p>
                    </div>
                </div>
            </div>
        </section>