<section id="photo-packages-why-guests-love" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray pb-30">
        
    <div class="container">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="text-center blue-text" data-show="startbox">Why Guests Love <span class="no-break">Adding Photos</span></h2>
                <ul class="features-list blue-text">
                    <li data-show="startbox" data-show-delay="100"><h3>Your own pro photographer</h3>A dedicated shark-diving photographer focused on capturing <span class="no-break">your experience.</span></li>
                    <li data-show="startbox" data-show-delay="200"><h3>Dozens of incredible shots</h3> Come home with a full collection—not just one or two <span class="no-break">lucky photos.</span></li>
                    <li data-show="startbox" data-show-delay="200"><h3>Photos you couldn't get yourself</h3>Get shots of you swimming beside wild sharks while you stay present in <span class="no-break">the moment.</span></li>
                    <li data-show="startbox" data-show-delay="300"><h3>Relive it for years</h3>Capture an experience this unforgettable in a way your phone<span class="no-break"> never could.</span></li>
                </ul>
            </div>

            <div class="col-12 text-center mt-10 section-cta px-20">
                <h3 class="above-cta" data-show="startbox">Call to add photos or videos to <span class="no-break">your dive.</span></h3>
                <a  class="btn btn-accent-1 big-button btn-phone"
                    data-show="startbox" data-show-delay="200"
                    href="tel:+18088292203">(808) 829-2203</a>
            </div>

        </div><!-- // row -->

    </div><!--// container -->

</section>
<!--// Photo Packages: Why Guests Love -->