<section id="photo-packages-tips" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray py-30">      
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-left">
                <div>
                    <h3>Reserve Early</h3>
                    <p>Our photographers are often fully booked, and we have a limited number available on each tour.</p>
                    <p>If you'd like to get photos for your dive, we recommend adding them when you reserve your shark dive by calling the number below.</p>

                    <h3>A Few Last Tips</h3>
                    <ul>
                        <li>Call and ask when the best conditions will be for photos before you book your tour.</li>
                        <li>Remember to be present during your dive. Your tour will allow for plenty of time to be with these incredible creatures, but it can go by surprisingly fast.</li>
                        <li>Take a moment to look around, experience the sharks and the ocean, enjoy the moment, and appreciate where you are. Our photographers will capture your best moments so you can focus on living them!</li>
                        <!--<li>Have fun! And get ready for an under water adventure with some of the greatest shark experts on the planet! </li>-->
                    </ul>
                </div>
            </div>
        </div>

    </div><!--// container -->
</section>
<!--// Photo Packages Tips -->