<section id="photo-packages-why-guests-love" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray">
        
    <div class="container">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="text-center blue-text">Why Guests Love <span class="no-break">Adding Photos</span></h2>
                <ul class="features-list">
                    <li>Professional guidance in the water from an experienced shark diver.</li>
                    <li>Dozens of stunning, high-quality photos you simply can't capture yourself.</li>
                    <li>Unlock the ultimate experience diving one-on-one with a shark diving expert.</li>
                    <li>Relive the experience and share it with friends and family for years to come.</li>
                </ul>
                <h3>The Ultimate Experience</h3>
                <p>Our photographers aren't just photographers, they're also expert shark divers and certified water safety professionals.</p>
                <p>When you add photos to your dive, you're also getting a one-on-one experience with a shark expert. They'll be right by your side to guide you through the most immersive, up close and personal experience possible—all while maintaining maximum safety and, of course, setting you up for the ultimate shots! </p>
                <!--<h3>Featured Shark Tour Photos</h3>
                <p>The following are just a small example of the many thousands of photos taken from actual guest tours.</p>-->
            </div>
        </div><!-- // row -->

    </div><!--// container -->

</section>
<!--// Photo Packages: Why Guests Love -->