<section id="photo-packages-why-guests-love" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray">
        
    <div class="container">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="text-center blue-text">Why Guests Love <span class="no-break">Adding Photos</span></h2>
                <ul class="features-list blue-text">
                    <li>Dozens of high-quality photos captured by a professional photographer and expert shark diver.</li>
                    <li>Guidance in the water to get the best shots as well as the best experience.</li>
                    <li>One-on-one experience with a shark diving expert.</li>
                </ul>
            </div>
        </div><!-- // row -->

    </div><!--// container -->

</section>
<!--// Photo Packages: Why Guests Love -->