<!-- RATES & DETAILS SECTION -->
        <section id="price-section" class="price-section bg-lt-gray py-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-center-md">
                        <h1 class="h1-small mb-0">Hawaii Adventure Diving</h1>
                        <h2 class="h2-big blue-text">Tour Packages</h2>
                        <p>Join us for an immersive, one-of-a-kind experience with our team of world-class shark handlers. Free cancellation up to 48 hours before <span
                                class="no-break">your tour.</span></p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6 col-xl-4">
                        <div class="product-card">
                            <img src="/images/product-card-img-shark-tour.jpg" alt="">
                            <div class="text">
                                <h2>Shark Diving Tour</h2>
                                <h3 class="price">$150 person<br><span class="sub-text">(Plus taxes & fees)</span></h3>
                                <a class="btn btn-accent-1 big-button"
                                    href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">Reserve Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="product-card">
                            <img src="/images/product-card-img-kama-aina.jpeg" alt="">
                            <div class="text">
                                <h2>Kama'aina & Military</h2>
                                <h3 class="price">$125 person with ID<br><span class="sub-text">(Plus taxes &
                                        fees)</span></h3>
                                <a class="btn btn-accent-1 big-button"
                                    href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">Reserve Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-3 col-xl-4 offset-xl-0">
                        <div class="product-card">
                            <img src="/images/product-card-img-ride-along.jpeg" alt="">
                            <div class="text">
                                <h2>Ride Along<br><span>(Non Diver)</span></h2>
                                <h3 class="price">$100 person<br><span class="sub-text">(Plus taxes & fees)</span></h3>
                                <a class="btn btn-accent-1 big-button"
                                    href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">Reserve Now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--// RATES & DETAILS SECTION -->

        <!-- SHARK DIVING PHOTO PACKAGES SECTION -->
        <section id="shark-diving-photography-packages" class="price-section">
            <div class="container">
                <div class="row pt-60">
                    <div class="col-lg-10 offset-lg-1 text-center-md">
                        <h1 class="h1-small mb-0">Premium Add-Ons</h1>
                        <h2 class="h2-big blue-text">Professional Photography</h2>
                        <p class="description">Get the most out of your experience with professional underwater photography.</p>
                    </div>
                </div>
                <div class="row text-center" style="justify-content: center;">
                    <div class="col-sm-6 col-xl-4">
                        <div class="product-card">
                            <img src="/images/product-card-img-shark-tour-photo-packages-4.jpg"
                                alt="An underwater photo of a group of Hawaii shark diving tour guests holding on to a safety rope while swimming in the open ocean without a cage above a large shark. They're wearing swim fins and snorkel gear and watching the shark as it swims by. One of the divers is pointing a hand held camera at the shark. Another shark and the shark tour boat can be seen in the distance.">
                            <div class="text">
                                <h2 class="mb-10">Shark Diving Photos</h2>
                                <p>Call to add professional photos to your shark dive: <span class="no-break">(808) 829-2203</span></p>
                                <h3 class="price">$75/person<br><span class="sub-text">(Plus taxes & fees)</span></h3>
                                <a class="btn btn-accent-1 big-button" href="/contact/">Call To Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--// SHARK DIVING PHOTO PACKAGES SECTION -->