<!-- TOUR PACKAGES SECTION -->
<section id="tour-packages" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray py-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center-md">
                <h1 class="h1-small">Hawaii Adventure Diving</h1>
                <h2 class="h2-big blue-text">Choose Your Experience</h2>
                <p class="description">Reserve online in under 2 minutes. Free cancellation up to 48 hours before <span
                        class="no-break">your tour.</span></p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6 col-xl-4 md-order-2">
                <div class="product-card most-popular">
                    <p class="call-out">Most Popular</p>
                    <img src="/images/product-card-img-shark-tour.jpg" alt="">
                    <div class="text">
                        <h2>Swim with Sharks</h2>
                        <h3 class="price">$150 per guest</h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 md-order-1">
                <div class="product-card secondary-product-card">
                    <img src="/images/product-card-img-kama-aina.jpeg" alt="">
                    <div class="text">
                        <h2>Hawaiʻi Residents & Military</h2>
                        <h3 class="price">$125 per guest<br><span class="sub-text">(ID Required)</span></h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 col-xl-4 offset-xl-0 md-order-3">
                <div class="product-card secondary-product-card">
                    <img src="/images/product-card-img-ride-along.jpeg" alt="">
                    <div class="text">
                        <h2>Non-Diver</h2>
                        <h3 class="price">$100 per guest</h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--// TOUR PACKAGES SECTION -->

<!-- PHOTO PACKAGES SECTION -->
<section id="shark-diving-photography-packages" class="tour-packages tour-lp-section-v2 bg-lt-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center-md">
                <h1 class="h1-small">Premium Add-Ons</h1>
                <h2 class="blue-text">Shark Diving Photos</h2>
                <p class="description">Get the most out of your experience with professional underwater photography.</p>
            </div>
        </div>
        <div class="row text-center" style="justify-content: center;">
            <div class="col-sm-6 col-xl-4">
                <div class="product-card most-popular">
                    <p class="call-out">Don't miss out!</p>
                    <img src="/images/product-card-img-shark-tour-photo-packages-4.jpg"
                        alt="An underwater photo of a group of Hawaii shark diving tour guests holding on to a safety rope while swimming in the open ocean without a cage above a large shark. They're wearing swim fins and snorkel gear and watching the shark as it swims by. One of the divers is pointing a hand held camera at the shark. Another shark and the shark tour boat can be seen in the distance.">
                    <div class="text">
                        <h2 class="mb-10">Shark Diving Photos</h2>
                        
                        <h3 class="price">$75 per guest</h3>
                        <p class="mb-20">Please call us to add professional photos to your shark dive.</p>
                        <a class="btn btn-accent-1 big-button btn-phone" href="tel:+18088292203">(808) 829-2203</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// PHOTO PACKAGES SECTION -->