<!-- TOUR PACKAGES SECTION -->
<section id="tour-packages" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray pt-30">
    <div id="main-products" class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="heading-text">
                    <h1 class="h1-small">Hawaii Adventure Diving</h1>
                    <h2 class="blue-text" data-show="startbox">Choose Your Adventure</h2>
                </div>
                <p class="description" data-show="startbox">Reserve online in under 2 minutes. Free cancellation up to 48 hours before <span
                        class="no-break">your tour.</span></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-6 col-xl-4 md-order-2">
                <div class="product-card most-popular" data-show="startbox" data-show-delay="200">
                    <p class="call-out">Most Popular</p>
                    <img src="/images/product-card-img-shark-tour.jpg" alt="">
                    <div class="text">
                        <h2>Cage-Free <span class="no-break">Shark Dive</span></h2>
                        <h3 class="price">$150 per guest</h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 md-order-1">
                <div class="product-card secondary-product-card kama-aina-card" data-show="startbox">
                    <img src="/images/product-card-img-kama-aina.jpeg" alt="">
                    <div class="text">
                        <h2>Hawaiʻi Residents & Military Discount</h2>
                        <h3 class="price">$125 per guest<br><span class="sub-text">(ID Required)</span></h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 col-xl-4 offset-xl-0 md-order-3">
                <div class="product-card secondary-product-card" data-show="startbox">
                    <img src="/images/product-card-img-ride-along.jpeg" alt="">
                    <div class="text">
                        <h2>Non-Diver<br>Ride Along</h2>
                        <h3 class="price">$100 per guest</h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!--// row - main products -->
    </div>
    <!--// container -->

    <div id="shark-diving-photography-packages" class="container-fluid tour-packages tour-lp-section-v2 text-md-white px-0">
        <div class="pano-bgd"></div>
        
        <div class="container">

            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="heading-text">
                        <h1 class="h1-small">Premium Add-Ons</h1>
                        <h2 class="h2-big mt-sm-10 mb-md-20 text-sm-blue" data-show="startbox">Shark Tour Photos</h2>
                        <p class="description mb-0" data-show="startbox" data-show-delay="200">Add photos to your tour for the ultimate shark  <span class="no-break">diving experience.</span></p>
                    </div>
                </div>
            </div>

            <!-- ROW: Tour Photos Product Card -->
            <div class="row text-center pt-30 pb-10" style="justify-content: center;">
                <div class="col-sm-6 col-md-12">
                    <div class="product-card most-popular mb-40" data-show="startbox">
                        <p class="call-out">Limited Availability</p>
                        <div class="md-flex-row">
                            <img src="/images/product-card-img-shark-tour-photo-packages-4.jpg"
                                alt="An underwater photo of a group of Hawaii shark diving tour guests holding on to a safety rope while swimming in the open ocean without a cage above a large shark. They're wearing swim fins and snorkel gear and watching the shark as it swims by. One of the divers is pointing a hand held camera at the shark. Another shark and the shark tour boat can be seen in the distance.">
                            <div class="text">
                                <h2 class="mb-10">Add Shark <span class="no-break">Tour Photos</span></h2>
                                
                                <h3 class="price">$75 per guest</h3>
                                <p class="mb-20"><strong>Call to add photos to <span class="no-break">your tour.</span></strong></p>
                                <a class="btn btn-accent-1 big-button btn-phone" href="tel:+18088292203">(808) 829-2203</a>
                            </div>
                        </div>
                    </div><!--// product-card -->

                </div><!--// col -->

                <!-- Lightbox Gallery -->
                <div class="col-12 gallery-col desktop">
                    <div class="photos-section-gallery-wrapper">
                    </div>
                    <!--// photos-section-gallery-wrapper-->
                </div>

                <script type="text/javascript">
                // Gallery Items script for lightbox gallery
                const photos_section_galleryItems = [
                    
                    'shark-divers-chasing',
                    'pink-shark-diver',
                    'beautiful-woman-free-diving-with-sharks-hawaii-shark-tour',
                    'couple-swimming-with-sharks-without-cage-hawaii-oahu',
                    'female-diver-with-shark-striped-2',
                    'female-diver-with-shark-striped',
                    'snorkeler-on-rope-with-shark',
                    'fun-hawaii-shark-diving',
                    'shark-diving-hawaii-2',
                    'beautiful-shark-diver-hawaii',
                    'couple-shark-diving-hawaii',
                    'diver-posing-with-shark',
                    'divers-and-shark-hawaii',
                    'divers-swimming-with-a-shark',
                    'diving-down-with-shark-hawaii',
                    'hawaii-shark-diving-tour-photo',
                    'morning-sun-shark-dive',
                    'shark-dive-morning-sun',
                    'shark-diving-hawaii-camera',
                    'snorkeler-and-3-sharks',
                    'swimming-after-shark-hawaii',
                    'swimming-with-a-shark',
                    'swimming-with-shark-in-hawaii',
                    'two-divers-and-shark-hawaii',
                ];

                function photos_section_buildGallery() {
                    const photos_section_galleryWrapper = document.querySelector('.photos-section-gallery-wrapper');
                    photos_section_galleryItems.forEach(item => {
                        const photos_section_galleryItem = document.createElement('a');
                        photos_section_galleryItem.classList.add('gallery-item');
                        photos_section_galleryItem.href = `/images/lightbox-galleries/shark-tour-lp-photos-section/${item}.jpg`;

                        const img = document.createElement('img');
                        img.src = `/images/lightbox-galleries/shark-tour-lp-photos-section/thumbs/tn_${item}.jpg`;
                        img.alt = `Shark diving photo: ${item.replace(/-/g, ' ').replace(/\.[^/.]+$/, '')}`;

                        photos_section_galleryItem.appendChild(img);
                        photos_section_galleryWrapper.appendChild(photos_section_galleryItem);
                    });
                }
                document.addEventListener('DOMContentLoaded', photos_section_buildGallery);
            </script>
                
                
            </div>
            <!--// ROW: Tour Photos Product Card -->

        </div><!--// container -->

    </div><!--// container-fluid -->


</section>
<!--// TOUR PACKAGES SECTION -->