<!-- TOUR PACKAGES SECTION -->
<section id="tour-packages" class="tour-packages tour-packages-v2 tour-lp-section-v2 bg-lt-gray py-30">
    <div id="main-products" class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="heading-text">
                    <h1 class="h1-small">Hawaii Adventure Diving</h1>
                    <h2 class="blue-text">Choose Your Experience</h2>
                </div>
                <p class="description">Reserve online in under 2 minutes. Free cancellation up to 48 hours before <span
                        class="no-break">your tour.</span></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-6 col-xl-4 md-order-2">
                <div class="product-card most-popular">
                    <p class="call-out">Most Popular</p>
                    <img src="/images/product-card-img-shark-tour.jpg" alt="">
                    <div class="text">
                        <h2>Cage-Free <span class="no-break">Shark Dive</span></h2>
                        <h3 class="price">$150 per guest</h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4 md-order-1">
                <div class="product-card secondary-product-card kama-aina-card">
                    <img src="/images/product-card-img-kama-aina.jpeg" alt="">
                    <div class="text">
                        <h2>Hawaiʻi Residents & Military Discount</h2>
                        <h3 class="price">$125 per guest<br><span class="sub-text">(ID Required)</span></h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 col-xl-4 offset-xl-0 md-order-3">
                <div class="product-card secondary-product-card">
                    <img src="/images/product-card-img-ride-along.jpeg" alt="">
                    <div class="text">
                        <h2>Non-Diver<br>Ride Along</h2>
                        <h3 class="price">$100 per guest</h3>
                        <a class="btn btn-accent-1 big-button"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                            target="_self">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!--// row - main products -->
    </div>
    <!--// container -->

    <div id="shark-diving-photography-packages" class="container-fluid tour-packages tour-lp-section-v2 text-white px-0">
        <div class="pano-bgd"></div>
        
        <div class="container">

            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="heading-text">
                        <h1 class="h1-small">Premium Add-Ons</h1>
                        <h2 class="h2-big mb-20">Shark Tour Photos</h2>
                        <p class="heading-lead mb-0">Add photos to your tour for the ultimate shark  <span class="no-break">diving experience.</span></p>
                    </div>
                </div>
            </div>

            <!-- ROW: Tour Photos Product Card -->
            <div class="row text-center pt-30 pb-10" style="justify-content: center;">
                <div class="col-sm-6 col-md-12">
                    <div class="product-card most-popular mb-40">
                        <p class="call-out">Limited Availability</p>
                        <div class="md-flex-row">
                            <img src="/images/product-card-img-shark-tour-photo-packages-4.jpg"
                                alt="An underwater photo of a group of Hawaii shark diving tour guests holding on to a safety rope while swimming in the open ocean without a cage above a large shark. They're wearing swim fins and snorkel gear and watching the shark as it swims by. One of the divers is pointing a hand held camera at the shark. Another shark and the shark tour boat can be seen in the distance.">
                            <div class="text">
                                <h2 class="mb-10">Add Shark <span class="no-break">Tour Photos</span></h2>
                                
                                <h3 class="price">$75 per guest</h3>
                                <p class="mb-20"><strong>Call to add photos to <span class="no-break">your tour.</span></strong></p>
                                <a class="btn btn-accent-1 big-button btn-phone" href="tel:+18088292203">(808) 829-2203</a>
                            </div>
                        </div>
                    </div><!--// product-card -->

                </div><!--// col -->
            </div>
            <!--// ROW: Tour Photos Product Card -->


            <div class="row" id="tour-photos-details">
                <div class="col-lg-10 offset-lg-1 text-left">
                    <div>
                        <h3>Why Guests Love Adding Photos to <span class="no-break">Their Tours</span></h3>
                        <ul>
                            <li>Professional guidance in the water from an experienced shark diver.</li>
                            <li>Dozens of stunning, high-quality photos you simply can't capture yourself.</li>
                            <li>Unlock the ultimate experience diving one-on-one with a shark diving expert.</li>
                            <li>Relive the experience and share it with friends and family for years to come.</li>
                        </ul>
                        <h3>The Ultimate Experience</h3>
                        <p>Our photographers aren't just photographers, they're also expert shark divers and certified water safety professionals.</p>
                        <p>When you add photos to your dive, you're also getting a one-on-one experience with a shark expert. They'll be right by your side to guide you through the most immersive, up close and personal experience possible—all while maintaining maximum safety and, of course, setting you up for the ultimate shots! </p>
                        <!--<h3>Featured Shark Tour Photos</h3>
                        <p>The following are just a small example of the many thousands of photos taken from actual guest tours.</p>-->
                    </div>
                </div>
            </div>


            <div class="row photo-grid-gallery gx-0 py-20 text-left">
                
                <div class="col-12" style="display: inline-table;">
                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/shark-diving-tours/hawaii/oahu/oahu-shark-diving-tour-photos/from-insta-2023/woman-swmming-with-sharks-no-cage-hawaii-shark-tour.jpg" loading="lazy" alt="An underwater shot of a young woman freediver on a oahu shark diving tour by Hawaii Adventure Diving is swimming along the surface of the open ocean without a cage while a group of five large grey sharks swim just below her. She's wearing a dark bikini with freediving fins, a snorkel, and mask. A yellow shark diving tour safety rope can be seen in the water just behind her. The water is a deep bright blue and very clear."></a>

                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/shark-diving-tours/hawaii/oahu/oahu-shark-diving-tour-photos/from-insta-2023/couple-holding-hands-underwater-while-swimming-with-sharks-hawaii-oahu.jpg" loading="lazy" alt="An underwater photo of a young freediving couple on a Hawaii shark diving tour holding hands and swimming toward two large sharks in the distance. They are both wearing fins and snorkel gear and are several feet below the surface of the water so that the water surface is not visible in the photo creating the appearance that they may be very deep underwater."></a>


                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/shark-diving-tours/hawaii/oahu/oahu-shark-diving-tour-photos/from-insta-2023/beautiful-woman-snorkeling-with-sharks-on-hawaii-shark-tour.jpg" loading="lazy" alt="An underwater photo of a young woman freediver swimming with a group of six sharks. She is wearing freediving fins and snorkel gear. Sun rays can be seen bathing streaming through the water's surface to create a beautiful scene reminiscent of a dream. She's on a shark diving tour with Hawaiian shark tour operator Hawaii Adventure Diving."></a>

                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/shark-diving-tours/hawaii/oahu/oahu-shark-diving-tour-photos/from-insta-2023/free-diver-with-shark-hawaii-shark-diving-tour.jpg" loading="lazy" alt="An underwater photo of a young male freediver in his twenties treading water in Hawaii with a large shark swimming by. He's in the water with the shark without a cage. The water is clear blue and the sun is shinning."></a>

                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/images/woman-cage-free-shark-diving-hawaii.jpg" loading="lazy" alt="A woman in a blue swimsuit and fins dives underwater surrounded by sharks off the coast of Hawaii"></a>

                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/shark-diving-tours/hawaii/oahu/oahu-shark-diving-tour-photos/from-insta-2023/shark-dive-tour-boat-with-sharks-visible-below.jpg" loading="lazy" alt="A semi underwater photo taken from the ocean of the Hawaii Adventure Diving shark diving our boat. The boat captain can be seen at the helm while a group of sharks swim in the waters just below. The composition of the photo is exceptional capturing the scenes both above and below the water's surface simulteneously."></a>
                        
                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/images/man-swimming-with-sharks-north-shore-oahu-hawaii.jpg" loading="lazy" alt="A male diver wearing fins floats near the surface of the ocean as sharks swim past in clear blue water off the North Shore of Oahu, Hawaii."></a>

                    <a href="/shark-diving-tours/hawaii/oahu/north-shore-haleiwa/cage-free-shark-diving-tour/"><img src="/shark-diving-tours/hawaii/oahu/oahu-shark-diving-tour-photos/from-insta-2023/swimmer-with-shark-no-cage-open-ocean-hawaii.jpg" loading="lazy" alt="An underwater photo of a young male freediver in swim trunks on a shark diving tour in Hawaii hovers at the surface of the ocean water with a large shark just beneth and another in the distance. The water is a clear deep blue with sun rays shining through it to create a beautiful and entrancing scene."></a>
                </div>
            </div>
            <!--// row -->

            <div class="row" id="tour-photos-details">
                <div class="col-lg-10 offset-lg-1 text-left">
                    <div>
                        <h3>Reserve Early</h3>
                        <p>Our photographers are often fully booked, and we have a limited number available on each tour.</p>
                        <p>If you'd like to get photos for your dive, we recommend adding them when you reserve your shark dive by calling the number below.</p>

                        <h3>A Few Last Tips</h3>
                        <ul>
                            <li>Call and ask when the best conditions will be for photos before you book your tour.</li>
                            <li>Remember to be present during your dive. Your tour will allow for plenty of time to be with these incredible creatures, but it can go by surprisingly fast.</li>
                            <li>Take a moment to look around, experience the sharks and the ocean, enjoy the moment, and appreciate where you are. Our photographers will capture your best moments so you can focus on living them!</li>
                            <!--<li>Have fun! And get ready for an under water adventure with some of the greatest shark experts on the planet! </li>-->
                        </ul>

                        <div class="section-cta text-center pt-20 pb-40">
                            <h2 class="mb-20">Call to Add Photos to Your <span class="no-break">Shark Dive</span></h2>
                            <a class="btn btn-accent-1 big-button btn-phone" href="tel:+18088292203">(808) 829-2203</a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--// container -->

    </div><!--// container-fluid -->


</section>
<!--// TOUR PACKAGES SECTION -->

<!-- PHOTO PACKAGES SECTION: Add "Get the Shot!" bgd to this section -->
<section>
    

</section>
<!--// PHOTO PACKAGES SECTION -->