<!-- RATINGS & REVIEWS SECTION -->
<section id="ratings-and-reviews" class="dark-bg jarallax"  data-jarallax data-speed="0.8" data-img-position="50% 0%">
    <div class="content-wrap">
        <div class="container">

            <!-- CUSTOMER REVIEWS -->
            <div id="customer-reviews" class="row">

                <div id="reviews-header" class="col-lg-8 offset-lg-2 text-center mb-30">
                    <img class="pt-40 pb-10" style="max-width: 150px" src="/images/five-stars-wreath.png" alt=""
                        data-show="startbox">
                    <h1 data-show="startbox">Our Guests Consistently Rate Us 5-Stars</h1>
                    <p class="mb-0" data-show="startbox">See what our guests are saying about their experience with Hawaii
                        Adventure Diving.</p>
                </div>

                <!--// Swiper Col -->
                <div id="testimonials-swiper" class="col">
                    <div class="swiper mt-0 pb-20" data-swiper-slides="1"
                        data-swiper-breakpoints="828:2, 1024:3" data-swiper-loop="true" data-swiper-gap="30"
                        data-swiper-grabcursor="true" data-show="startbox" data-show-delay="100"
                        data-swiper-autoplay="4000" data-show="startbox">
                        <div class="swiper-container" data-show="startbox">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide review-card">
                                    <a href="https://www.tripadvisor.com/Attraction_Review-g60647-d7625529-Reviews-Hawaii_Adventure_Diving-Haleiwa_Oahu_Hawaii.html"
                                        target="_blank"><img class="brand-logo"
                                            src="/images/icon-reviews-trip-advisor.png"></a>
                                    <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                                    <h2>This is THE best dive in Oahu!</h2>
                                    <p class="reviews-text">“Tons of
                                        sharks, and not once did I ever feel unsafe in the water.”</p>
                                    <p class="reviews-signature">— Jeff S.</p>
                                </div>

                                <div class="swiper-slide review-card">
                                    <a href="https://bit.ly/3OSCaCX" target="_blank"><img class="brand-logo"
                                            src="/images/icon-reviews-google.png"></a>
                                    <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                                    <h2>Absolutely Epic!</h2>
                                    <p class="reviews-text">“Hands down best crew and best experience!”</p>
                                    <p class="reviews-signature">— germanfoodiehawaii</p>
                                </div>

                                <div class="swiper-slide review-card">
                                    <a href="https://www.yelp.com/biz/hawaii-adventure-diving-haleiwa-2"
                                        target="_blank"><img class="brand-logo"
                                            src="/images/icon-reviews-yelp.png"></a>
                                    <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                                    <h2>We Saw 4 Tiger Sharks</h2>
                                    <p class="reviews-text">“The crew were totally in control the whole time!”
                                    </p>
                                    <p class="reviews-signature">— Alexis R.</p>
                                </div>

                                <div class="swiper-slide review-card">
                                    <a href="https://www.tripadvisor.com/Attraction_Review-g60647-d7625529-Reviews-Hawaii_Adventure_Diving-Haleiwa_Oahu_Hawaii.html"
                                        target="_blank"><img class="brand-logo"
                                            src="/images/icon-reviews-trip-advisor.png"></a>
                                    <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                                    <h2>Wow!</h2>
                                    <p class="reviews-text">“Swimming with sharks was on my bucket list—highly
                                        recommended!”
                                    </p>
                                    <p class="reviews-signature">— Daisy R.</p>
                                </div>

                                <div class="swiper-slide review-card">
                                    <a href="https://www.facebook.com/HawaiiAdventureDiving/reviews/?ref=page_internal"
                                        target="_blank"><img class="brand-logo"
                                            src="/images/icon-reviews-facebook.png"></a>
                                    <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                                    <h2>We Had An Amazing Time</h2>
                                    <p class="reviews-text">“Definitely doing this again when we come back to
                                        Oahu."</p>
                                    <p class="reviews-signature">— Dria R.</p>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex mt-20 justify-content-center" data-show="startbox">
                            <div class="swiper-button-prev swiper-button-position-2 swiper-button-dark shadow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none">
                                    <path fill="currentColor" fill-rule="evenodd"
                                        d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="swiper-button-next swiper-button-position-2 swiper-button-dark shadow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none">
                                    <path fill="currentColor" fill-rule="evenodd"
                                        d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
                <!--// Swiper Col -->


                <!-- AROUND THE WEB -->
                <div id="around-the-web" class="container text-center pb-20">
                    <div id="around-the-web-heading-text" class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <h2>Top-rated Across the Web</h2>
                            <p>Since 2015, guests have trusted our crew for safe, professional, and
                                unforgettable shark
                                diving experiences.</p>
                        </div>
                    </div>
                    <div class="row ratings-group">
                        <div class="review-block col-6 col-sm-3 col-md-2 offset-md-1">
                            <h4>Google</h4>
                            <h1>{{ siteData.platformRatings.Google.average }}<span>/5</span></h1>
                            <img class="five-stars" src="/images/5-stars.png" alt="5 star review">
                            <p><a href="https://www.google.com/search?q=hawaii+adventure+diving&oq=hawaii+adventure+diving&gs_lcrp=EgZjaHJvbWUqBggAEEUYQTIGCAAQRRhBMgYIARBFGDsyBggCEEUYOzIGCAMQRRg9MgYIBBBFGD0yBggFEEUYPDIGCAYQRRhBMgYIBxBFGEHSAQgzMDkwajBqN6gCALACAA&sourceid=chrome&ie=UTF-8&sei=q3QVauKGEayf0PEPkfCJkAc#lrd=0x7c0058d23f97b437:0xa894e68e162e211b,1,,,,"
                                    target="_blank">{{
                                    siteData.platformRatings.Google.total }} reviews</a></p>
                        </div>
                        <div class="review-block col-6 col-sm-3 col-md-2">
                            <h4>Trip Advisor</h4>
                            <h1>{{ siteData.platformRatings.TripAdvisor.average }}<span>/5</span></h1>
                            <img class="five-stars" src="/images/5-stars.png" alt="5 star review">
                            <p><a href="https://www.tripadvisor.com/Attraction_Review-g60647-d7625529-Reviews-Hawaii_Adventure_Diving-Haleiwa_Oahu_Hawaii.html"
                                    target="_blank">{{ siteData.platformRatings.TripAdvisor.total }} reviews</a>
                            </p>
                        </div>
                        <div class="review-block col-6 col-sm-3 col-md-2">
                            <h4>Groupon</h4>
                            <h1>{{ siteData.platformRatings.Groupon.average }}<span>/5</span></h1>
                            <img class="five-stars" src="/images/5-stars.png" alt="5 star review">
                            <p><a href="https://www.groupon.com/deals/hawaii-adventure-diving-3"
                                    target="_blank">{{
                                    siteData.platformRatings.Groupon.total }} reviews</a></p>
                        </div>
                        <div class="review-block col-6 col-sm-3 col-md-2">
                            <h4>Yelp</h4>
                            <h1>{{ siteData.platformRatings.Yelp.average }}<span>/5</span></h1>
                            <img class="five-stars" src="/images/5-stars.png" alt="5 star review">
                            <p><a href="https://www.yelp.com/biz/hawaii-adventure-diving-haleiwa-2"
                                    target="_blank">{{
                                    siteData.platformRatings.Yelp.total }} reviews</a></p>
                        </div>
                        <div class="review-block col-6 offset-3 col-sm-12 offset-sm-0 col-md-2"
                            >
                            <h4>Facebook</h4>
                            <h1>{{ siteData.platformRatings.Facebook.average }}<span>/5</span></h1>
                            <img class="five-stars" src="/images/5-stars.png" alt="5 star review">
                            <p><a href="https://www.facebook.com/HawaiiAdventureDiving/reviews/?ref=page_internal"
                                    target="_blank">{{ siteData.platformRatings.Facebook.total }} reviews</a>
                            </p>
                        </div>

                    </div>
                </div>
                <!--// AROUND THE WEB -->

            </div>
            <!--// CUSTOMER REVIEWS (ROW) -->
        </div>
    </div>
</section>
<!--// RATINGS & REVIEWS SECTION -->