<h3>Finally, Have Fun!</h3>
<p>And get ready for an under water adventure with some of the greatest shark experts on the planet!</p>


<!--// Testimonials Carousel -->
<section id="testimonials-carousel">
    <div class="col">
        <div class="heading-text text-center pt-10">
            <h3 class="bigger">Thinking About <span class="no-break">Adding Photos?</span></h3>
            <p>Many guests weren't sure if the photo package would be worth it—until they saw the results. Here's what they had to say after their tour.</p>
        </div>
        <div class="swiper mt-0 pb-20" data-swiper-slides="1"
            data-swiper-breakpoints="828:2, 1024:3" data-swiper-loop="true" data-swiper-gap="30"
            data-swiper-grabcursor="true" data-show="startbox" data-show-delay="100"
            data-swiper-autoplay="4000" data-show="startbox">
            <div class="swiper-container" data-show="startbox">
                <div class="swiper-wrapper">

                    <div class="swiper-slide review-card">
                        <a href="https://www.tripadvisor.com/Attraction_Review-g60647-d7625529-Reviews-Hawaii_Adventure_Diving-Haleiwa_Oahu_Hawaii.html"
                            target="_blank"><img class="brand-logo"
                                src="/images/icon-reviews-trip-advisor.png"></a>
                        <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                        <h2>This is THE best dive in Oahu!</h2>
                        <p class="reviews-text">“Tons of
                            sharks, and not once did I ever feel unsafe in the water.”</p>
                        <p class="reviews-signature">— Jeff S.</p>
                    </div>

                    <div class="swiper-slide review-card">
                        <a href="https://bit.ly/3OSCaCX" target="_blank"><img class="brand-logo"
                                src="/images/icon-reviews-google.png"></a>
                        <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                        <h2>Absolutely Epic!</h2>
                        <p class="reviews-text">“Hands down best crew and best experience!”</p>
                        <p class="reviews-signature">— germanfoodiehawaii</p>
                    </div>

                    <div class="swiper-slide review-card">
                        <a href="https://www.yelp.com/biz/hawaii-adventure-diving-haleiwa-2"
                            target="_blank"><img class="brand-logo"
                                src="/images/icon-reviews-yelp.png"></a>
                        <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                        <h2>We Saw 4 Tiger Sharks</h2>
                        <p class="reviews-text">“The crew were totally in control the whole time!”
                        </p>
                        <p class="reviews-signature">— Alexis R.</p>
                    </div>

                    <div class="swiper-slide review-card">
                        <a href="https://www.tripadvisor.com/Attraction_Review-g60647-d7625529-Reviews-Hawaii_Adventure_Diving-Haleiwa_Oahu_Hawaii.html"
                            target="_blank"><img class="brand-logo"
                                src="/images/icon-reviews-trip-advisor.png"></a>
                        <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                        <h2>Wow!</h2>
                        <p class="reviews-text">“Swimming with sharks was on my bucket list—highly
                            recommended!”
                        </p>
                        <p class="reviews-signature">— Daisy R.</p>
                    </div>

                    <div class="swiper-slide review-card">
                        <a href="https://www.facebook.com/HawaiiAdventureDiving/reviews/?ref=page_internal"
                            target="_blank"><img class="brand-logo"
                                src="/images/icon-reviews-facebook.png"></a>
                        <img class="review-count" src="/images/5-stars.png" alt="5 star review">
                        <h2>We Had An Amazing Time</h2>
                        <p class="reviews-text">“Definitely doing this again when we come back to
                            Oahu."</p>
                        <p class="reviews-signature">— Dria R.</p>
                    </div>

                </div>
            </div>
            <div class="d-flex mt-20 justify-content-center" data-show="startbox">
                <div class="swiper-button-prev swiper-button-position-2 swiper-button-dark shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none">
                        <path fill="currentColor" fill-rule="evenodd"
                            d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="swiper-button-next swiper-button-position-2 swiper-button-dark shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none">
                        <path fill="currentColor" fill-rule="evenodd"
                            d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </div>

    </div>
</section>
<!--// Testimonials Carousel -->