<section id="small-groups-section" class="pano-section tour-lp-section-v2 text-left white-text">
    <div class="container-fluid gx-0">
        <div class="pano-bgd"></div>
        <div class="gradient-layer desktop"></div>
        <div class="section-content">
            <div class="text-box">
                <h1 class="h1-small-leader-text">Hawaii Adventure Diving</h1>
                <h2>Small Groups. <span class="no-break">Big Experiences.</span></h2>
                <p>With a six guests per tour maximum, you'll be able to enjoy a safer, more tailored encounter on Hawaii's premiere shark<span class="no-break"> diving tour.</span></p>
            </div>
            <picture>
                <source media="(max-width: 1023px)" srcset="/images/private-tours-img-mobile.jpeg" />
                <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                <img class="hero-img mobile" src="/images/blank.gif">
            </picture>
        </div>
    </div>
</section>