<section id="team-swiper">
  <div class="container">
    <div class="swiper team-members-swiper" data-swiper-slides="1" data-swiper-breakpoints="828:2, 1024:3" data-swiper-gap="30" data-swiper-grabcursor="true" data-swiper-loop="true" data-show="startbox">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div id="annika" class="swiper-slide pt-15">
                    <div data-filters="branding">
                        <div class="name-title-block top">
                            <h3 class="name">Annika Zerne Young</h3>
                            <p class="branded-text">Hawaii Adventure Diving</p>
                            <p class="title">Safety Diver</p>
                        </div>
                        <img loading="lazy" src="/images/team-photos/team-member-photo-annika-1.jpg" alt="Annika">
                    </div>
                </div>

                <div id="danny" class="swiper-slide pt-15">
                    <div data-filters="branding">
                        <div class="name-title-block top">
                            <h3 class="name">Danny Mako</h3>
                            <p class="branded-text">Hawaii Adventure Diving</p>
                            <p class="title">Photographer & Safety Diver</p>
                        </div>
                        <img loading="lazy" src="/images/team-photos/team-member-photo-danny-1.jpg" alt="Danny">
                    </div>
                </div>

                <div id="nick" class="swiper-slide pt-15">
                    <div data-filters="branding">
                        <div class="name-title-block bottom">
                            <h3 class="name">Nick Loewenstine</h3>
                            <p class="branded-text">Hawaii Adventure Diving</p>
                            <p class="title">Safety Diver</p>
                        </div>
                        <img loading="lazy" src="/images/team-photos/team-member-photo-nick-1.jpg" alt="Nick">
                    </div>
                </div>

                <div id="ro" class="swiper-slide pt-15">
                    <div data-filters="branding">
                        <div class="name-title-block top">
                            <h3 class="name">Ro O'Rourke</h3>
                            <p class="branded-text">Hawaii Adventure Diving</p>
                            <p class="title">Boat Captain</p>
                        </div>
                        <img loading="lazy" src="/images/team-photos/team-member-photo-ro-1.jpg" alt="Ro">
                    </div>
                </div>

                <div id="sammy" class="swiper-slide pt-15">
                    <div data-filters="branding">
                        <div class="name-title-block bottom">
                            <h3 class="name">Sammy Falgiani</h3>
                            <p class="branded-text">Hawaii Adventure Diving</p>
                            <p class="title">Photographer & Safety Diver</p>
                        </div>
                        <img loading="lazy" src="/images/team-photos/team-member-photo-sammy-1.jpg" alt="Sammy">
                    </div>
                </div>

                <div id="stacy" class="swiper-slide pt-15">
                    <div data-filters="branding">
                        <div class="name-title-block bottom">
                            <h3 class="name">Stacy Lieser</h3>
                            <p class="branded-text">Hawaii Adventure Diving</p>
                            <p class="title">Boat Captain & Safety Diver</p>
                        </div>
                        <img loading="lazy" src="/images/team-photos/team-member-photo-stacy-1.jpg" alt="Stacy">
                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-button-prev swiper-button-position-1 swiper-button-white shadow"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none">
                <path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"></path>
            </svg></div>
        <div class="swiper-button-next swiper-button-position-1 swiper-button-white shadow"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none">
                <path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"></path>
            </svg></div>
    </div>
  </div>
</section>