<!-- TOUR SCHEDULE SECTION-->
        <section id="tour-days-and-times">
            <div class="container py-30">
                <div class="row">
                    <div class="col-12 text-center-md">
                        <h1 class="h1-small-leader-text md-text-center"
                            style="color: #000; margin-bottom: -20px !important;">Cage Free <span class="no-break">Shark Diving
                                </span></h1>
                        <h2 class="blue-text mb-10">Daily Tour Schedule</h2>
                    </div>
                    <div class="col-12 text-center-md">
                        <ul class="tour-times mb-10">
                            <li><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">7am - 9am (Mon - Sun)</a></li>
                            <li><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">9am - 11am (Mon - Sun)</a></li>
                            <li><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">11am - 1pm (Mon - Sun)</a></li>
                            <li><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">1pm - 3pm (Mon - Sun)</a></li>
                            <li><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">3pm - 5pm (Mon - Sun)</a></li>
                        </ul>
                        <ul class="tour-times">
                            <li class="small-text"><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"
                                    target="_self">Our Shark Diving Tours run every day of the week, Monday
                                    through Sunday.</a></li>
                        </ul>
                    </div>
                    <div class="col-12 text-center-md mt-10">
                        <a class="btn btn-md btn-accent-1"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"><span>Tour Dates</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!--// TOUR SCHEDULE SECTION -->