<!-- TOUR SCHEDULE SECTION-->
        <section id="tour-schedule" class="tour-lp-section-v2">
            <div class="container py-30">
                <div class="row">
                    <div class="col-12 text-center-md">
                        <h1 class="h1-small">Cage Free <span class="no-break">Shark Diving
                                </span></h1>
                        <h2 class="blue-text mb-10">Tour Schedule</h2>
                        <p class="description">All tours run Mon-Sun, 365 <span class="no-break">days a year.</span></p>
                    </div>
                    <div class="col-12 text-center-md">

                        <table class="mb-30">
                            <thead>
                                <tr>
                                    <th>Departure</th>
                                    <th>Duration</th>
                                    <th>Availability</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>7:00 AM</td>
                                    <td>2 Hours</td>
                                    <td><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/" class="btn btn-sm btn-accent-1"><span>View</span></a></td>
                                </tr>
                                <tr>
                                    <td>9:00 AM</td>
                                    <td>2 Hours</td>
                                    <td><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/" class="btn btn-sm btn-accent-1"><span>View</span></a></td>
                                </tr>
                                <tr>
                                    <td>11:00 AM</td>
                                    <td>2 Hours</td>
                                    <td><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/" class="btn btn-sm btn-accent-1"><span>View</span></a></td>
                                </tr>
                                <tr>
                                    <td>1:00 PM</td>
                                    <td>2 Hours</td>
                                    <td><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/" class="btn btn-sm btn-accent-1"><span>View</span></a></td>
                                </tr>
                                <tr>
                                    <td>3:00 PM</td>
                                    <td>2 Hours</td>
                                    <td><a href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/" class="btn btn-sm btn-accent-1"><span>View</span></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-12 text-center mt-10 section-cta">
                        <h3 class="above-cta">Limited to 4-6 guests per trip</h3>
                        <a class="btn btn-md btn-accent-1"
                            href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"><span>Check Availability</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!--// TOUR SCHEDULE SECTION -->