<section id="tour-duration" class="pano-section text-left">
            <div class="container-fluid gx-0 bg-white">
                <div class="pano-bgd"></div>
                <div class="section-content">
                    <div class="text-box">
                        <h1 class="h1-small-leader-text" style="color: #000;">Hawaii Shark <span class="no-break">Tour
                                Duration</span></h1>
                        <h2 class="blue-text">2 Hours <span class="no-break">of Immersion</span></h2>
                        <p>With 2 hours from dock to dock, you'll have plenty of time to see stunning views of the North
                            Shore, spot native ocean wild life like dolphins and sea turtles, and get up close and
                            personal with a variety of open ocean shark species.</p>
                    </div>
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/tour-duration-img-mobile.jpeg" />
                        <source media="(min-width: 1024px)" srcset="/images/blank.gif" />
                        <img class="hero-img mobile" src="/images/blank.gif">
                    </picture>
                </div>
            </div>
        </section>