<!-- Tour Features -->
        <section id="tour-features">
            <div class="bg-lt-gray pb-30">
                <div class="container-fluid bg-shark-topper-lt"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center pt-30">
                            <!-- <img src="/images/logo-onWhite-600w.png" alt="Hawaii Adventure Diving" class="logo-section-head" data-show="startbox">-->
                            <h1 class="h1-small" data-show="startbox" data-show-delay="0">Oahu Shark Diving</h1>
                            <h2 class="h2-big blue-text" data-show="startbox" data-show-delay="100">Shark Diving Tour
                                Overview</h2>
                           <!-- <p data-show="startbox" data-show-delay="200">Each tour includes a divemaster and instructor
                                as well as clean and sanitized snorkel gear. Photography packages are avaialble to all
                                guests. Scuba diving experience is NOT required.</p>-->
                        </div>

                    </div>


                    <!-- TOUR FEATURES WITH ICONS -->
                    <div id="tour-features-grid">
                        <div class="row g-10">
                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox" data-show-delay="0">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-clock.png" alt="Duration icon">
                                    </div>
                                    <h4 class="service-box-title">2 Hours</h4>
                                    <p class="service-box-text font-size-15 mb-0">Total tour time is about 2 hours round
                                        trip from the harbor and back.</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="100">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-no-cage.png" alt="No cage icon">
                                    </div>
                                    <h4 class="service-box-title">Cage Free</h4>
                                    <p class="service-box-text font-size-15 mb-0">Freediving / snorkeling, swim with the
                                        sharks in the open water, no cage.</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="0">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-safety.png" alt="Shield icon">
                                    </div>
                                    <h4 class="service-box-title">Safe</h4>
                                    <p class="service-box-text font-size-15 mb-0">Expert safety provided by licensed
                                        Captains &amp; Dive Masters.</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="100">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-swimmer.png" alt="Swimmer icon">
                                    </div>
                                    <h4 class="service-box-title">Beginners OK</h4>
                                    <p class="service-box-text font-size-15 mb-0">All you need is an adventurous spirit.
                                        We'll handle the rest!</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="0">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-group.png" alt="Group icon">
                                    </div>
                                    <h4 class="service-box-title">6 Guests Max</h4>
                                    <p class="service-box-text font-size-15 mb-0">Our tours have a minimum group size of
                                        4 and a maximum of 6 patrons.</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="100">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-sea-turtle.png" alt="Sea turtle icon">
                                    </div>
                                    <h4 class="service-box-title">Ages 5+</h4>
                                    <p class="service-box-text font-size-15 mb-0">Encounter sharks, dolphins, sea
                                        turtles and other pelagic creatures.</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="0">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-dolphin.png" alt="Dolphin icon">
                                    </div>
                                    <h4 class="service-box-title">Mon - Sun</h4>
                                    <p class="service-box-text font-size-15 mb-0">Experience stunning ocean scenery
                                        above and below the surface.</p>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3" data-show="startbox"
                                data-show-delay="100">
                                <!-- Service box-->
                                <div
                                    class="service-box position-relative rounded-4 bg-white text-center service-box-sm">
                                    <!-- Circle icon-->
                                    <div class="circle-icon text-white bg-accent-1">
                                        <img src="/images/icon-lightbulb.png" alt="Lightbulb icon">
                                    </div>
                                    <h4 class="service-box-title">Educational</h4>
                                    <p class="service-box-text font-size-15 mb-0">Discover a deeper understanding of the
                                        ocean and its inhabitants.</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--// TOUR FEATURES WITH ICONS -->
                </div>
            </div>
        </section>
        <!--// Tour Features -->