<!-- Tour Quick Guide -->
        <section class="tour-quick-guide bg-white" class="desktop">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-md-2">
                        <img class="icon" src="/images/icon-duration-placeholder.jpg">
                        <h2>Total Duration</h2>
                        <p>2 hrs</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="icon" src="/images/icon-time-placeholder.jpg">
                        <h2>Tour Days</h2>
                        <p>Mon-Sun</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="icon" src="/images/icon-pickup-placeholder.jpg">
                        <h2>Pick-up & Drop-Off</h2>
                        <p>Not Included</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="icon" src="/images/icon-age-placeholder.jpg">
                        <h2>Minimum Age</h2>
                        <p>5+ with adult</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="icon" src="/images/icon-fitness-placeholder.jpg">
                        <h2>Fitness Level</h2>
                        <p>All</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="icon" src="/images/icon-start-end-location-placeholder.jpg">
                        <h2>Start & End Location</h2>
                        <p>Haleiwa</p>
                    </div>
                </div>
                <!--// row -->
            </div>
            <!--// container -->
        </section>
        <!--// Tour Quick Guide -->