<!-- VIDEO BANNER BACKGROUND -->
<div id="banner-video-bgd" class="video-container">
    <video id="hero-video" autoplay muted loop playsinline></video>
</div>
<!--// VIDEO BANNER BACKGROUND -->

<script>
    var heroVideo = document.getElementById('hero-video');
    if (window.innerWidth > 576) {
        heroVideo.poster = '/images/homepage-banner-desktop.webp';
        heroVideo.src = '/assets/video/shark-banner-bg-vid-landscape-v2-r1.mp4';
    } else {
        heroVideo.poster = '/images/homepage-banner-mobile.webp';
        heroVideo.src = '/assets/video/shark-banner-bg-vid-portrait-v2-r3.mp4';
    }
</script>
