        
<!-- Shark Tour Hero Video Banner -->
<section id="hero-banner" class="hero-video-banner hero-video-banner-v2 hero-banner dark-bg">
    <div class="container-fluid gx-0">
        <div class="video-overlay-color"></div>


        {% include "sections/banners/shark-video-banner.njk" %}


        <div class="banner-contents">
            <div class="banner-logo desktop-only">
                <img src="/images/header-logo-400px.png" alt="Hawaii Adventure Diving">
            </div>

            <div class="hero-text-container col-lg-8 offset-lg-2">
                <div class="hero-text">
                    <h1 class="big-text-top-1">Cage Free</h1>
                    <h1 class="big-text-long-words">Shark Diving</h1>
                    <h2 class="small-text">Dive into a next-level experience<br><span class="no-break"> with Hawaii's elite shark handlers</span></h2>
                </div>

                <div class="hero-text col-lg-8 offset-lg-2">
                    <h1 class="big-text-top-1">Cage Free</h1>
                    <h1 class="big-text-long-words">Shark Diving</h1>
                    <h2 class="small-text">Dive into a next-level experience<br><span class="no-break"> with Hawaii's elite shark handlers</span></h2>
                </div>
            </div>

            <div id="cta-block" class="col-lg-8 offset-lg-2">
                <h3>From $150 per person</h3>
                <a class="btn btn-md btn-accent-1"
                    href="https://fareharbor.com/embeds/book/h2oadventureshawaii/items/3485/calendar/"><span>Go
                        Shark Diving</span></a>
                {% include "blocks/star-ratings.njk" %}
            </div>
        </div>
    </div>
</section>
