<a id="fixed-button" class="btn btn-accent-1">Book Now</a>
    <script>
        var btn = $('#fixed-button');

        $(window).scroll(function() {
            var scrollTop = $(window).scrollTop();
            var nearBottom = scrollTop + $(window).height() >= $(document).height() - 100;

            if (scrollTop > 300 && !nearBottom) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });
    </script>